.service__title {
    color: $header-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}
.service__description {
    font-size: 16px;
    line-height: 1.88;
}
.border-card {
    border: 1px solid $border-color;
    padding: 20px 24px;
}
.service__link {
    display: flex;
    flex-direction: column;
    transition: box-shadow $transition-time $cubic;
    &:hover, &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}
.service-list__item {
    flex-basis: calc(100% / 3 - 30px);
}
.service-thumb {
    position: relative;
    overflow: hidden;
}
.service-thumb__thumb {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateY(100%);
    padding: 63px 24px;
    background-color: $thumb-background;
    transition: transform $transition-time $cubic;
}
.service__link:hover .service-thumb__thumb,
.service__link:focus .service-thumb__thumb {
    transform: translateY(0);
}
.thumb__description {
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: $logo-white;
    transform: scale(2);    
    transition: transform $transition-time $cubic 50ms;
}
.service__link:hover .thumb__description,
.service__link:focus .thumb__description {
    transform: scale(1);
}