.benefits-title {
    color: $header-text-color;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.benefits {
    padding-bottom: 0;
}
.benefits-list .item {
    flex-basis: calc(100% / 4 - 30px);
}
.benefits-icon {
    height: 120px;
    background-color: $secondary-color;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    & .icon {
        margin-left: auto;;
        margin-right: auto;
    }
}
