.header-container .link {
    display: block;
}
.header-pages .link {
    color: $header-text-color;
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
}
.header-pages .link,
.header-contacts .link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color $transition-time $cubic;
    &:hover, &:focus {
        color: $secondary-text-color;
    }
}
.header-pages {
    display: flex;
    margin-left: 93px;
    & .item:not(:last-child) {
        margin-right: 50px;
    }
    & .item:not(:last-child) {
        margin-right: 50px;
    }
}
.header-pages .active-page {
    color: $secondary-text-color;
    &::after {
        position: absolute;
        display: block;
        bottom: -1px;
        content: "";
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $secondary-text-color;
    }
}
.header-contacts {
    display: flex;
    margin-left: auto;
    & .item {
        margin-right: 30px;
    }
    & .item:last-child {
        margin-right: 0;
    }
    & .link {
        display: flex;
        align-items: center;
    }
}
.header-container, .nav {
    display: flex;
    align-items: center;
}    
.header {
    border-bottom: 1px solid $header-border-color;
}

.icon-contacts {
    margin-right: 10px;
    fill: currentColor;
}