.team {
    background-color: $secondary-color;
}
.team-content {
    padding: 30px;
}
.team-member {
    color: $header-text-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}
.team-job {    
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 16px;
}
.team-list .item {
    background: $logo-white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    text-align: center;
    flex-basis: calc(100% / 4 - 30px);
}
.team-content .icon-item {
    border-radius: 50%;
    flex-basis: calc(100% / 4 - 10px);
}
.icon-set .link {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    transition: fill $transition-time $cubic, background-color $transition-time $cubic;
}
.team-content .icon-set .link {
    fill: $icon-grey;
}
.icon-set .icon {
    margin-left: auto;
    margin-right: auto;
}
.icon-set .link:hover,
.icon-set .link:focus {
    fill: $logo-white;
    background-color: $secondary-text-color;
    
}